body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: flex-start;
  margin:0px;
}

.side-bar {
  background-color: #1f1f3d;
  height: 100vh;
  width: 25vw;
  margin: 0px;
}

.form-section {
  background-color: #A9AAD2;
  height: 40vh;
  width: 75vw;
  margin: 0px;
  display: flex;
  justify-content: center;
}

.idea-cards {
  background-color: #EAEAF4;
  height: 60vh;
  width: 75vw;
}

