body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: flex-start;
  margin:0px;
}

.side-bar {
  background-color: #1f1f3d;
  height: 100vh;
  width: 25vw;
  margin: 0px;
}

.form-section {
  background-color: #A9AAD2;
  height: 38vh;
  width: 75vw;
  margin: 0px;
  display: flex;
  justify-content: center;
}

.form-block {
width: 38vw;
border: 2px solid #5456A4;
border-radius: 3px;
margin-bottom: 8px;
}

.smaller-form {
  height: 4vh;
}

.larger-form {
  height: 8vh;
  margin: 0px;
}

.idea-cards {
  background-color: #EAEAF4;
  height: 60vh;
  width: 75vw;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
}

.card {
  background-color: #FFFFFF;
  width: 16vw;
  font-size: 18px;
  border: 2px solid #353662;
  margin-left: 20px;
  margin-top: 20px;
}

.top-bar {
  background-color: #1f1f3d;
}

.bottom-bar {
  background-color: #5356A4;
  border: 1px solid #353662;
}

h1 {
  color: #E9e9f3;
  margin-left: 38px;
  font-size: 22px;
  margin-top: 24px;
  margin-bottom: 24px;
}

h2 {
  color: #BFBFDD;
  margin-left: 38px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 24px;
  margin-bottom: 32px;
}

h3 {
  color: #1f1f3d;
}

h4 {
  color: #1f1f3d;
  margin-bottom: 8px;
}

.show-star-btn {
  background-color: #5356A4;
  color:#E9e9f3;
  width: 20vw;
  margin-left: 38px;
  height: 4vh;
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 28px;
}

.save-btn {
  background-color: #353662;
  color:#E9e9f3;
  height: 4vh;
  padding: 0px;
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: 500;
}

hr {
  border: 1px solid #353567
}

button {
  border-radius: 3px;
  border: 0px;


}